<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    {% block title%} <title> Order Entry </title> {% endblock %}
    <p id="adminlink"><a href="{% url 'admin:index' %}">Admin Portal</a></p>
    <h1 class = "header"> Order Entry </h1>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

    <div class="wrapper">
        <ul class="nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'aboutus' %}">About us!</a></li>
            <li><a class="active" href="{% url 'orderentry' %}">Order here!</a></li>
            <li><a href="{% url 'shipmenttracking' %}">Track your shipment</a></li>
            <li><a href="{% url 'ticketmanage' %}">Having trouble? Click here to get help!</a></li>
        </ul>
    </div>

</head>

<body>
    <p>
        <!--Customer Order Information--> 
        <form method = "post">
            {% csrf_token %}
        
            <div class="fieldWrapper">
                {{ form.order_Item_Flavor.errors }}
                <label for="{{ form.order_Item_Flavor.id_for_label }}">Flavor:</label>
                {{ form.order_Item_Flavor }}
            </div>
            <div class="fieldWrapper">
                {{ form.order_Sizes.errors }}
                <label for="{{ form.order_size.id_for_label }}">Size:</label>
                {{ form.order_Sizes }}
            </div>
            <div class="fieldWrapper">
                {{ form.order_Quantity.errors }}
                <label for="{{ form.order_size.id_for_label }}">Quantity:</label>
                {{ form.order_Quantity }}
            </div>
            <div class="fieldWrapper">
                {{ form.order_Shipping.errors }}
                <label for="{{ form.order_size.id_for_label }}">Shipping:</label>
                {{ form.order_Shipping }}
            </div>
            <div class="fieldWrapper">
                <button type = "submit">Continue!</button> 
            </div>
        </form>
    </p> 
</body>